<template>
  <v-container fluid grid-list-md py1>
    <v-layout row wrap>
      <v-row>
        <v-col cols="6">
          <v-card class="elevation-5">
            <v-card-title primary-title class="py-2">
              <div class="subheading">Regions</div>
              <v-spacer />
              <v-btn icon class="ma-0" @click="view.section.chart.visible = !view.section.chart.visible">
                <v-icon>{{ view.section.chart.visible ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-title>
            <v-fade-transition>
              <div v-show="view.section.chart.visible">
                <v-card-text class="py-1">
                  <v-layout row wrap>
                    <v-row>
                      <v-col cols="12" md="4" sm="4" v-for="(element, index) in view.elem.donutchart.regions" :key="index">
                        <donut-chart
                          style="height: 180px;"
                          :id="element.id" 
                          :data="element.data" 
                          :colors="element.colors"
                          resize="true">
                        </donut-chart>
                        <v-card-subtitle align="center">{{element.name}}</v-card-subtitle>
                      </v-col>
                    </v-row>
                  </v-layout>
                </v-card-text>
              </div>
            </v-fade-transition>
          </v-card>
        </v-col>
        <v-col cols="6">
          <v-card class="elevation-5">
            <v-card-title primary-title class="py-2">
              <div class="subheading">Details of the region</div>
              <v-spacer />
              <v-btn icon class="ma-0" @click="view.section.datatable.visible = !view.section.datatable.visible">
                <v-icon>{{ view.section.datatable.visible ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-title>
            <v-fade-transition>
              <div v-show="view.section.datatable.visible">
                <v-card-text class="py-1">
                  <v-layout row wrap>
                    <v-row>
                      <v-col cols="12" sm="12" md="12">
                        <v-data-table
                          :headers="view.elem.datatable.region.headers"
                          :items="view.elem.datatable.region.data"
                          :items-per-page="5"
                        ></v-data-table>
                        <v-divider></v-divider>
                        <v-card-subtitle>Average: {{view.elem.datatable.region.average.vaccinated}} -
                          {{view.elem.datatable.region.average.partialvaccinated}} - {{view.elem.datatable.region.average.unvaccinated}}
                        </v-card-subtitle>
                      </v-col>
                    </v-row>
                  </v-layout>
                </v-card-text>
              </div>
            </v-fade-transition>
          </v-card>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>

<script>
import { DonutChart } from 'vue-morris';

export default {
  name: "RegionsByTerritory",
  head: {
    title: function() {
      
    }
  },
  data() {
    return {
      regionsByTerritory: undefined,
      view: {
        title: "RegionsByTerritory", 
        action: {
          submit: {
            busy: false
          }
        }, 
        elem:{
          donutchart: {
            regions: [
              { id: 'region1', name: 'Region 1', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              , { id: 'region2', name: 'Region 2', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              , { id: 'region3', name: 'Region 3', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              , { id: 'region4', name: 'Region 4', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              , { id: 'region5', name: 'Region 5', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              , { id: 'region6', name: 'Region 6', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              , { id: 'region7', name: 'Region 7', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
            ]
          },
          datatable: {
            region: {
              headers: [
                { text: 'ID', align: 'start', sortable: false, value: 'id'},
                { text: 'Store', value: 'store' },
                { text: 'Vaccinated', value: 'vaccinated' },
                { text: 'Partially vaccinated', value: 'partialvaccinated' },
                { text: 'Unvaccinated', value: 'unvaccinated' }
              ],
              data: [
                { id: 1, store: '101', vaccinated: '40%', partialvaccinated: '50%', unvaccinated: '10%' }
                , { id: 2, store: '105', vaccinated: '30%', partialvaccinated: '20%', unvaccinated: '50%' }
                , { id: 3, store: '106', vaccinated: '20%', partialvaccinated: '20%', unvaccinated: '60%' }
                , { id: 4, store: '108', vaccinated: '40%', partialvaccinated: '50%', unvaccinated: '10%' }
                , { id: 5, store: '202', vaccinated: '30%', partialvaccinated: '20%', unvaccinated: '50%' }
                , { id: 6, store: '203', vaccinated: '20%', partialvaccinated: '20%', unvaccinated: '60%' }
                , { id: 7, store: '204', vaccinated: '30%', partialvaccinated: '20%', unvaccinated: '50%' }
                , { id: 8, store: '401', vaccinated: '20%', partialvaccinated: '20%', unvaccinated: '60%' }
                , { id: 9, store: '403', vaccinated: '40%', partialvaccinated: '50%', unvaccinated: '10%' }
                , { id: 10, store: '404', vaccinated: '30%', partialvaccinated: '20%', unvaccinated: '50%' }
                , { id: 11, store: '405', vaccinated: '20%', partialvaccinated: '20%', unvaccinated: '60%' }
              ],
              average: {
                vaccinated: '10%'
                , partialvaccinated: '30%'
                , unvaccinated: '50%'
              }
            }
          }
        }, 
        section:{
          chart: { 
            visible: true 
          },
          datatable: { 
            visible: true 
          }
        } 
      }
    };
  },
  methods: {
  },
  computed: {

  },
  validations: {
    
  },
  mounted() {},
  updated() {},
  components: {
    DonutChart
  },
  created() {
    console.log(this.$route.params.idterritory);
  }

}
</script>

<style>

</style>