<template>
  <v-card class="elevation-5">
    <v-card-title primary-title class="py-2">
      <div class="subheading">Datatable</div>
      <v-spacer />
      <v-btn icon class="ma-0" @click="view.store.datatable.visible = !view.store.datatable.visible">
        <v-icon>{{ view.store.datatable.visible ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      </v-btn>
    </v-card-title>
    <v-fade-transition>
      <v-card-text class="pt-0" v-show="view.store.datatable.visible">
        <v-text-field v-model="search" append-icon="mdi-search" label="Search" single-line hide-details></v-text-field>
        <br/>
        <v-data-table
          :headers="view.elem.datatable.headers" 
          :items="view.elem.datatable.data" 
          :search="search"
          :loading="view.elem.datatable.loading"
          :items-per-page="5"
          no-data-text="No data available on this table" 
          no-results-text="No results found"
          item-key="id" >
          <template v-slot:[`item.action`]="{ item }" >
            <fp-button
              dense
              type="edit"
              xSmall
              emitNameMethod="editRowDatatable"
              @editRowDatatable="editRowDatatable(item)"/>
            <fp-button 
              v-if="item.status" 
              type="disable"
              xSmall
              emitNameMethod="disableRowDatatable"
              @disableRowDatatable="disableRowDatatable(item)"/>
          </template>
        </v-data-table>
      </v-card-text>
    </v-fade-transition>
  </v-card>
</template>

<script>
import FPButton from "@/components/FPButton";
import StoreAPI from "@/services/catalog/store";

export default {
  data() {
    return {
      count: 0,
      search: "",
      totalStore: 0,
      pagination: {},
      dataTable: undefined,
      view: {
        store: {
          datatable: { visible: true }
        },
        elem: {
          datatable: {
            headers: [
              { text: "Id", align: "left", sortable: true, value: "id" },
              { text: "Name", align: "left", sortable: true, value: "name" },
              { text: "Actions", sortable: false, align: "center",value: 'action' }
            ],
            data: [],
            loading: false,
            pagination: { rowsPerPage: 10 }
          }
        }
      }
    };
  },
  props: {
    pageLength: { default: 10, type: Number },
    responsive: { default: true, type: Boolean }
  },
  methods: {
    async getAll() {
      this.view.elem.datatable.data = [
        { id: 1, name: "101", status: true }
        , { id: 2, name: "102", status: true }
        , { id: 3, name: "103", status: true }
        , { id: 4, name: "104", status: false }
        , { id: 5, name: "105", status: true }
      ];
      const response = await StoreAPI.getAll();
      const data = response.data.stores.stores;
      this.view.elem.datatable.data = data;
      console.log("response--> ", response);
    }
  },
  computed: {},
  components: { "fp-button": FPButton },
  created() {
    this.getAll();
  },
  mounted() {}
}
</script>

<style>

</style>