<template>
  <v-container fluid grid-list-md py1>
    <v-layout row wrap>
      <v-row>
        <v-col cols="5">
          <v-card class="elevation-5">
            <v-card-title primary-title class="py-2">
              <div class="subheading">Form</div>
              <v-spacer />
              <v-btn icon class="ma-0" @click="view.store.form.visible = !view.store.form.visible">
                <v-icon>{{ view.store.form.visible ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-title>
            <v-fade-transition>
              <div v-show="view.store.form.visible">
                <v-card-text class="py-0">
                  <form>
                    <v-layout row wrap>
                      <v-row>
                        <!-- id -->
                        <v-col cols="12" sm="12" md="12">
                          <v-text-field 
                            v-show="view.elem.input.id.visible"
                            v-if="!view.action.submit.busy" 
                            v-model="$v.store.id.$model"
                            :disabled="view.elem.input.id.disabled"
                            label="id" />
                        </v-col>
                        <!-- name -->
                        <v-col cols="12" sm="12" md="12">
                          <v-text-field v-model="$v.store.name.$model" label="name" />
                        </v-col>
                      </v-row>
                    </v-layout>
                  </form>
                </v-card-text>
                <v-card-actions class="pt-10">
                  <v-spacer></v-spacer>
                  <v-flex shrink>
                  <v-layout row wrap>
                    <v-flex class="mx-0 px-0">
                      <fp-button type="clear" small :busy="view.action.submit.busy"
                        emitNameMethod="askForClearStore" @askForClearStore="askForClear" />
                    </v-flex>
                    <v-flex class="mx-0 px-0" v-show="!view.elem.input.id.visible">
                      <fp-button type="add" :busy="view.action.submit.busy" small
                        emitNameMethod="submitStore" @submitStore="submit" />
                    </v-flex>
                    <v-flex class="mx-0 px-0" v-show="view.elem.input.id.visible">
                      <fp-button small type="update" :busy="view.action.submit.busy"
                        emitNameMethod="updateStore" @updateStore="update" />
                    </v-flex>
                  </v-layout>
                </v-flex>
                </v-card-actions>
              </div>
            </v-fade-transition>
          </v-card>
        </v-col>
        <v-col cols="7">
          <data-table ref="storeTable" ></data-table>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>

<script>
import DataTable from "@/views/catalog/store/DataTable";
import FPButton from "@/components/FPButton";
import { required } from 'vuelidate/lib/validators';

export default {
  name: "Store",
  head: {
    title: function() {
      
    }
  },
  data() {
    return {
      view: {
        title: "Store", 
        action: {
          submit: {
            busy: false
          }
        },
        elem:{
          input:{
            id:{
              disabled: true, 
              visible: false 
            }
          },
          button: {
            submit: {
              enable: true,
              text: "",
              class: {
                current: "",
                save: "button__icon icon fa fa-plus",
                update: "button__icon icon fa fa-check"
              },
              data: {
                id: 0,
                title: { current: "", save: "Guardar", update: "Actualizar" }
              },
              type: ""
            },
            clear: { visible: false },
            audit: { visible: false }
          }
        }, 
        store:{
          form: { 
            visible: true 
          }
        }
      },
      store: {
        id: null
        , name: ""
      }
    }
  },
  methods: {
    submit() {
      console.log({ name: this.store.name })
    },
    update() {
      console.log(123);
    },
    askForClear() {
      
    },
    loadStore(id) {

    },
    disableStore() {

    }
  },
  computed: {

  },
  validations: {
    store:{
      id:{}
      , name: { required }
    }
  },
  mounted() {

  },
  updated() {

  },
  components: {
    DataTable
    , "fp-button": FPButton
  },
  created() {

  }
}
</script>

<style>

</style>