<template>
  <v-tooltip v-show="visible" top :class="[ smallest ?  'mx-1' : 'ml-2']">
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" v-show="visible" :color="buttonColor" 
      :class="[{ smallestButton : smallest ? 'smallestButton' : ''}, smallest ? 'mx-0' : 'mx-0']" 
      fab :small="small" :large="large" :x-small="xSmall"  :loading="busy" 
      @click="triggerEmitFunction()" 
      :disabled="disabled" >
        <v-icon v-show="visible" :class="{ smallestButtonIcon : smallest ? 'smallestButtonIcon' : ''}" >{{buttonIcon}}</v-icon>
      </v-btn>
    </template>
    <span>{{tooltipText}}</span>
  </v-tooltip>
</template>
<script>
export default {
  data() {
    return {
      view: {
        elem: {
          buttons: {
            type: {
              add: {
                tooltip: "Add",
                color: "primary",
                icon: "mdi-plus-thick"
              },
              update: {
                tooltip: "Update",
                color: "primary",
                icon: "mdi-square-edit-outline"
              },
              clear: {
                tooltip: "Clean/New",
                color: "primary",
                icon: "mdi-autorenew"
              },
              edit: {
                tooltip: "Editar",
                color: "primary",
                icon: "mdi-pencil"
                //icon: "edit" -- Before
              },
              disable: {
                tooltip: "Desactivar",
                color: "primary",
                icon: "mdi-delete",
                //icon: "fas fa-trash-alt"
              },
              delete: {
                tooltip: "Eliminar",
                color: "primary",
                icon: "far fa-trash-alt"
              },
              download: {
                tooltip: "Descargar",
                color: "primary",
                icon: "fa-download"
              },
              export: {
                tooltip: "Exportar",
                color: "primary",
                icon: "fa-file-export"
              },
              pdf: {
                tooltip: "Obtener/Generar PDF",
                color: "primary",
                icon: "fa-file-pdf"
              },
              xls: {
                tooltip: "Obtener/Generar Excel",
                color: "primary",
                icon: "fa-file-excel"
              },
              cancel: {
                tooltip: "Cancelar",
                color: "primary",
                icon: "fa-times"
              }
            },
            elevation:{

            }
          }
        }
      }
    };
  },
  props: {
    type: {
      default: "",
      type: String
    },
    tooltip: {
      default: "",
      type: String
    },
    tooltipContentText: {
      default: "",
      type: String
    },
    icon: {
      default: "",
      type: String
    },
    smallest:{
      default: false,
      type: Boolean
    },
    small: {
      default: false,
      type: Boolean
    },
    xSmall: {
      default: false,
      type: Boolean
    },
    large: {
      default: false,
      type: Boolean
    },
    busy: {
      default: false,
      type: Boolean
    },
    disabled: {
      default: false,
      type: Boolean
    },
    emitNameMethod: {
      default: ''
      , type: String
    },
    visible: {
      default: true
      , type: Boolean
    }
  },
  methods: {
    buttonTypeValue(type, attribute, prop, defaultValue) {
      const buttonType =
        type && !prop ? this.view.elem.buttons.type[type] : null;
      const value = buttonType
        ? buttonType[attribute]
        : prop
        ? prop
        : defaultValue;
      return value;
    },
    triggerEmitFunction(){
      this.$emit(this.emitNameMethod);
    }
  },
  computed: {
    buttonColor: {
      get() {
        return this.buttonTypeValue(this.type, "color", this.color, "primary");
      }
    },
    buttonIcon: {
      get() {
        return this.buttonTypeValue(this.type, "icon", this.icon, "edit");
      }
    },
    tooltipText: {
      get() {
        if(this.tooltipContentText)
          return this.tooltipContentText
        else 
          return this.buttonTypeValue(this.type,"tooltip",this.tooltip, "Editar" );
      }
    }, 
    buttonClasses: {
      get(){
        return '';
      }
    }
  }
};
</script>
<style>
 .smallestButton{
   width: 28px;
   height: 28px;
  }
 .smallestButtonIcon{
   font-size: 16px;
 }
</style>



