<template>
  <v-container fluid grid-list-md py1>
    <v-layout row wrap>
      <v-row>
        <v-col cols="12">
          <v-card class="elevation-5">
            <v-card-title primary-title class="py-2">
              <div class="subheading">Filters</div>
              <v-spacer />
              <v-btn icon class="ma-0" @click="view.section.form.visible = !view.section.form.visible">
                <v-icon>{{ view.section.form.visible ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-title>
            <v-fade-transition>
              <div v-show="view.section.form.visible">
                <v-card-text class="py-1">
                  <v-layout row wrap>
                    <v-row>
                      <v-col cols="12" sm="2" md="2">
                        <v-dialog ref="dialog" v-model="view.elem.datepicker.datefilter.modal" :return-value.sync="dateRangeText" persistent width="290px" >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field v-model="dateRangeText" label="Picker in dialog" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on" ></v-text-field>
                          </template>
                          <v-date-picker v-model="view.elem.datepicker.datefilter.dates" scrollable range>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="view.elem.datepicker.datefilter.modal = false"> Cancel </v-btn>
                            <v-btn text color="primary" @click="$refs.dialog.save(dateRangeText)" >OK </v-btn>
                          </v-date-picker>
                        </v-dialog>
                      </v-col>
                      <v-col cols="12" md="2" sm="2">
                        <v-autocomplete
                          v-model="view.elem.select.territories.select"
                          :items="view.elem.select.territories.data"
                          :disabled="view.elem.select.isUpdating" 
                          label="Territories"
                          item-text="state"
                          item-value="abbr"
                          return-object>
                          <template v-slot:selection="data">
                            <v-chip v-bind="data.attrs" :input-value="data.selected" close @click="data.select" @click:close="remove('territory')" >
                              {{ data.item.state }}
                            </v-chip>
                          </template>
                        </v-autocomplete>
                      </v-col>
                      <v-col cols="12" md="2" sm="2">
                        <v-autocomplete
                          v-model="view.elem.select.regions.select"
                          :items="view.elem.select.regions.data"
                          :disabled="view.elem.select.isUpdating" 
                          label="Regions"
                          item-text="state"
                          item-value="abbr"
                          return-object>
                          <template v-slot:selection="data">
                            <v-chip v-bind="data.attrs" :input-value="data.selected" close @click="data.select" @click:close="remove('region')" >
                              {{ data.item.state }}
                            </v-chip>
                          </template>
                        </v-autocomplete>
                      </v-col>
                      <v-col cols="12" md="2" sm="2">
                        <v-autocomplete
                          v-model="view.elem.select.stores.select"
                          :items="view.elem.select.stores.data"
                          :disabled="view.elem.select.isUpdating" 
                          label="Stores"
                          item-text="state"
                          item-value="abbr"
                          return-object>
                          <template v-slot:selection="data">
                            <v-chip v-bind="data.attrs" :input-value="data.selected" close @click="data.select" @click:close="remove('store')" >
                              {{ data.item.state }}
                            </v-chip>
                          </template>
                        </v-autocomplete>
                      </v-col>
                      <v-col cols="12" md="2" sm="2">
                        <v-switch v-model="view.elem.switch.numOrPerce.value" label="% - #" hide-details ></v-switch>
                      </v-col>
                      <v-col cols="12" md="2" sm="2">
                        <v-btn v-model="view.elem.button.search.value" depressed color="primary" >Search</v-btn>
                      </v-col>
                    </v-row>
                  </v-layout>
                </v-card-text>
              </div>
            </v-fade-transition>
          </v-card>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "Company",
  head: {
    title: function() {
      
    }
  },
  data() {
    return {
      company: undefined,
      form: new Object(),
      view: {
        title: "Company", 
        action: {
          submit: {
            busy: false
          }
        }, 
        elem:{
          datepicker: {
            datefilter: {
              modal: false,
              dates: [
                (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10), 
                (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)
              ]
            }
          }
          , select: {
            isUpdating: false,
            territories: {
              select: [],
              data: [
                { state: 'Florida', abbr: 'FL' },
                { state: 'Georgia', abbr: 'GA' },
                { state: 'Nebraska', abbr: 'NE' },
                { state: 'California', abbr: 'CA' },
                { state: 'New York', abbr: 'NY' },
              ]
            }
            , regions: {
              select: [],
              data: [
                { state: 'Florida', abbr: 'FL' },
                { state: 'Georgia', abbr: 'GA' },
                { state: 'Nebraska', abbr: 'NE' },
                { state: 'California', abbr: 'CA' },
                { state: 'New York', abbr: 'NY' },
              ]
            }
            , stores: {
              select: [],
              data: [
                { state: 'Florida', abbr: 'FL' },
                { state: 'Georgia', abbr: 'GA' },
                { state: 'Nebraska', abbr: 'NE' },
                { state: 'California', abbr: 'CA' },
                { state: 'New York', abbr: 'NY' },
              ]
            }
          },
          switch: {
            numOrPerce: {
              value: false
            }
          },
          button: {
            search: {
              value: null
            }
          }
        }, 
        section:{
          form: { 
            visible: true 
          }
        } 
      }
    };
  },
  watch: {
    isUpdating (val) {
      if (val) {
        setTimeout(() => (this.view.elem.select.isUpdating = false), 3000)
      }
    }
  },
  methods: {
    remove (option) {
      switch (option) {
        case 'territory':
          this.view.elem.select.territories.select = null;
          break;
        case 'region':
          this.view.elem.select.regions.select = null;
          break;
        case 'store':
          this.view.elem.select.stores.select = null;
          break;
        default:
          break;
      }
      
    }
  },
  computed: {
    dateRangeText: {
      // getter
      get: function () {
        return this.view.elem.datepicker.datefilter.dates.join(' ~ ');
      },
      // setter
      set: function (newValue) {
        return newValue;
      }
    }
  },
  validations: {
    
  },
  mounted() {},
  updated() {},
  components: {
  },
  created() {

  }

}
</script>

<style>

</style>