<template>
  <v-container fluid grid-list-md py1>
    <v-layout row wrap>
      <v-row>
        <v-col cols="12">
          <v-card class="elevation-5">
            <v-card-title primary-title class="py-2">
              <div class="subheading">General</div>
              <v-spacer />
              <v-btn icon class="ma-0" @click="view.section.general.visible = !view.section.general.visible">
                <v-icon>{{ view.section.general.visible ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-title>
            <v-fade-transition>
              <div v-show="view.section.general.visible">
                <v-card-text class="py-1">
                  <v-layout row wrap>
                    <v-row>
                      <v-col cols="12" sm="2">
                        <donut-chart
                          style="height: 180px;"
                          :id="view.elem.donutchart.general.id" 
                          :data="view.elem.donutchart.general.data" 
                          :colors="view.elem.donutchart.general.colors"
                          resize="true">
                        </donut-chart>
                        <v-card-subtitle align="center">{{view.elem.donutchart.general.name}}</v-card-subtitle>
                      </v-col>
                      <v-col cols="12" sm="2" v-for="(element, index) in view.elem.donutchart.territories" :key="index">
                        <donut-chart
                          style="height: 180px;"
                          :id="element.id" 
                          :data="element.data" 
                          :colors="element.colors"
                          resize="true">
                        </donut-chart>
                        <v-card-subtitle align="center">{{element.name}}</v-card-subtitle>
                      </v-col>
                    </v-row>
                  </v-layout>
                </v-card-text>
              </div>
            </v-fade-transition>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card class="elevation-5">
            <v-card-title primary-title class="py-2">
              <div class="subheading">Filter</div>
              <v-spacer />
              <v-btn icon class="ma-0" @click="view.section.filter.visible = !view.section.filter.visible">
                <v-icon>{{ view.section.filter.visible ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-title>
            <v-fade-transition>
              <div v-show="view.section.filter.visible">
                <v-card-text class="py-1">
                  <v-layout row wrap>
                    <v-row>
                      <v-col cols="2" sm="2" md="2">
                        <v-dialog ref="dialog" v-model="view.elem.datepicker.datefilter.modal" :return-value.sync="dateRangeText" persistent width="290px" >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field v-model="dateRangeText" label="Picker in dialog" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on" ></v-text-field>
                          </template>
                          <v-date-picker v-model="view.elem.datepicker.datefilter.dates" scrollable range>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="view.elem.datepicker.datefilter.modal = false"> Cancel </v-btn>
                            <v-btn text color="primary" @click="$refs.dialog.save(dateRangeText)" >OK </v-btn>
                          </v-date-picker>
                        </v-dialog>
                      </v-col>
                      <v-col cols="2" sm="2" md="2">
                        <v-btn v-model="view.elem.button.search.value" depressed color="primary" >Search</v-btn>
                      </v-col>
                      <v-col cols="8" sm="8" md="8"></v-col>
                      <v-col cols="12" md="2" sm="2">
                        <div @click="searchTerritory()">
                          <donut-chart
                            style="height: 180px;"
                            :id="view.elem.donutchart.filter.general.id" 
                            :data="view.elem.donutchart.filter.general.data" 
                            :colors="view.elem.donutchart.filter.general.colors"
                            resize="true">
                          </donut-chart>
                        </div>
                        <v-card-subtitle align="center">{{view.elem.donutchart.filter.general.name}}</v-card-subtitle>
                      </v-col>
                      <v-col cols="12" md="2" sm="2" v-for="(element, index) in view.elem.donutchart.filter.territories" :key="index">
                        <donut-chart
                          style="height: 180px;"
                          :id="element.id" 
                          :data="element.data" 
                          :colors="element.colors"
                          resize="true">
                        </donut-chart>
                        <v-card-subtitle align="center">{{element.name}}</v-card-subtitle>
                      </v-col>
                    </v-row>
                  </v-layout>
                </v-card-text>
              </div>
            </v-fade-transition>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card class="elevation-5">
            <v-card-title primary-title class="py-2">
              <div class="subheading">Data from the company</div>
              <v-spacer />
              <v-btn icon class="ma-0" @click="view.section.datatable.visible = !view.section.datatable.visible">
                <v-icon>{{ view.section.datatable.visible ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-title>
            <v-fade-transition>
              <div v-show="view.section.datatable.visible">
                <v-card-text class="py-1">
                  <v-layout row wrap>
                    <v-row>
                      <v-col cols="12" sm="12" md="12">
                        <v-data-table
                          :headers="view.elem.datatable.general.headers"
                          :items="view.elem.datatable.general.data"
                          :items-per-page="5"
                          class="elevation-1"
                        ></v-data-table>
                      </v-col>
                    </v-row>
                  </v-layout>
                </v-card-text>
              </div>
            </v-fade-transition>
          </v-card>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>

<script>
import { DonutChart } from 'vue-morris';

export default {
  name: "Feed",
  head: {
    title: function() {
      
    }
  },
  data() {
    return {
      feed: undefined,
      view: {
        title: "Feed", 
        action: {
          submit: {
            busy: false
          }
        }, 
        elem:{
          donutchart:{
            general:{
              id: 'general',
              name: 'General'
              , data: [
                { label: 'Vaccinated', value: 40 },
                { label: 'Partially vaccinated', value: 40 },
                { label: 'Unvaccinated', value: 20 }
              ]
              , colors: [ "#FF6384", "#36A2EB", "#FFCE56" ]
            }
            , territories: [
              { id: 'territory1', name: 'Territory 1', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              , { id: 'territory2', name: 'Territory 2', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              , { id: 'territory3', name: 'Territory 3', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              , { id: 'territory4', name: 'Territory 4', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              , { id: 'territory5', name: 'Territory 5', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              , { id: 'territory6', name: 'Territory 6', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              , { id: 'territory7', name: 'Territory 7', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
            ]
            , filter: {
                general:{
                id: 'filtergeneral',
                name: 'General'
                , data: [
                  { label: 'Vaccinated', value: 40 },
                  { label: 'Partially vaccinated', value: 40 },
                  { label: 'Unvaccinated', value: 20 }
                ]
                , colors: [ "#FF6384", "#36A2EB", "#FFCE56" ]
              }
              , territories: [
                { id: 'filterterritory1', name: 'Territory 1', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
                , { id: 'filterterritory2', name: 'Territory 2', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
                , { id: 'filterterritory3', name: 'Territory 3', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
                , { id: 'filterterritory4', name: 'Territory 4', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
                , { id: 'filterterritory5', name: 'Territory 5', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
                , { id: 'filterterritory6', name: 'Territory 6', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
                , { id: 'filterterritory7', name: 'Territory 7', data: [{ label: 'Vaccinated', value: 80 }, { label: 'Partially vaccinated', value: 10 }, { label: 'Unvaccinated', value: 10 }], colors: ["#FF6384", "#36A2EB", "#FFCE56"] }
              ]
            }
          },
          datepicker: {
            datefilter: {
              modal: false,
              dates: [
                (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10), 
                (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)
              ]
            }
          },
          button: {
            search: {
              value: null
            }
          },
          datatable: {
            general: {
              headers: [
                { text: 'ID', align: 'start', sortable: false, value: 'id'},
                { text: 'Store', value: 'store' },
                { text: 'Vaccinated', value: 'vaccinated' },
                { text: 'Partially vaccinated', value: 'partialvaccinated' },
                { text: 'Unvaccinated', value: 'unvaccinated' }
              ],
              data: [
                { id: 1, store: '101', vaccinated: '40%', partialvaccinated: '50%', unvaccinated: '10%' }
                , { id: 2, store: '105', vaccinated: '30%', partialvaccinated: '20%', unvaccinated: '50%' }
                , { id: 3, store: '106', vaccinated: '20%', partialvaccinated: '20%', unvaccinated: '60%' }
                , { id: 4, store: '108', vaccinated: '40%', partialvaccinated: '50%', unvaccinated: '10%' }
                , { id: 5, store: '202', vaccinated: '30%', partialvaccinated: '20%', unvaccinated: '50%' }
                , { id: 6, store: '203', vaccinated: '20%', partialvaccinated: '20%', unvaccinated: '60%' }
                , { id: 7, store: '204', vaccinated: '30%', partialvaccinated: '20%', unvaccinated: '50%' }
                , { id: 8, store: '401', vaccinated: '20%', partialvaccinated: '20%', unvaccinated: '60%' }
                , { id: 9, store: '403', vaccinated: '40%', partialvaccinated: '50%', unvaccinated: '10%' }
                , { id: 10, store: '404', vaccinated: '30%', partialvaccinated: '20%', unvaccinated: '50%' }
                , { id: 11, store: '405', vaccinated: '20%', partialvaccinated: '20%', unvaccinated: '60%' }
              ]
            }
          }
        }, 
        section:{
          general: { 
            visible: true 
          },
          filter: {
            visible: true
          },
          datatable: {
            visible: true
          }
        } 
      }
    };
  },
  methods: {
    searchByDates(){
      //this.view.elem.donutchart.filter.general = 
    },
    searchTerritory() {
      console.log(111);
    }
  },
  computed: {
    dateRangeText: {
      // getter
      get: function () {
        return this.view.elem.datepicker.datefilter.dates.join(' ~ ');
      },
      // setter
      set: function (newValue) {
        return newValue;
      }
    }
  },
  validations: {
    
  },
  mounted() {},
  updated() {},
  components: {
    DonutChart
  },
  created() {
    /*
    setTimeout(() => {
      this.view.elem.donutchart.general.data = [ { label: 'Red', value: 300 }, { label: 'Blue', value: 50 }, { label: 'Yellow', value: 100 } ]
    }, 3000);
    */
  }

}
</script>

<style>

</style>