<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
      <v-list dense>
        <template v-for="item in items">
          <v-layout v-if="item.heading" :key="item.heading" align-center>
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
          </v-layout>
          <v-list-group v-show="item.permission === undefined" v-else-if="item.children" :key="item.text" v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="">
            <template v-slot:activator>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ item.text }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
            <v-list-item v-for="(child, i) in item.children" :key="i" :to="child.action">
              <v-list-item-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ child.text }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item v-else :key="item.text" :to="item.action" >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app :color="colorMenu" dark :extension-height="extensionHeight">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" ></v-app-bar-nav-icon>
      <v-toolbar-title style="width: 110px" class="ml-0 pl-4">
        <router-link :to="{ name:'Feed' }">
          <v-img max-width="160" :src="require('@/assets/logotipo/logoWTextWhiteText.png')"></v-img>
        </router-link>
      </v-toolbar-title>
      <!--<v-btn text @click="logOut()">LogOut</v-btn>-->
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-main id="container">
      <router-view :key="$route.path"></router-view>
    </v-main>
    <v-footer dark padless>
      <v-card class="flex" flat tile>
        <v-card-actions class="grey darken-3 justify-center">
          {{ new Date().getFullYear() }} —  <strong> &copy; Fibapix</strong>
        </v-card-actions>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      colorMenu: "yellow accent-4",
      drawer: false,
      extensionHeight: 48,
      extendedSlot: false,
      items: [
        { icon: 'mdi-home', text: 'Home', action: {name:'Feed'} },
        {
          icon: 'mdi-menu-up', 'icon-alt': 'mdi-menu-down',
          text: 'Reports',
          model: false,
          children: [
            { icon: 'mdi-domain', text: 'Company', action: {name:'Company'}  },
            { icon: 'mdi-human', text: 'Human Resources', action: {name:'Hr'}  },
            { icon: 'mdi-chart-timeline-variant', text: 'Job Performance', action: {name:'JobPerformance'}  }
          ]
        },
        {
          icon: 'mdi-menu-up', 'icon-alt': 'mdi-menu-down',
          text: 'Catalogs',
          model: false,
          children: [
            { icon: 'mdi-store-marker', text: 'Region', action: {name:'Region'}  },
            { icon: 'mdi-store-marker-outline', text: 'Territory', action: {name:'Territory'}  },
            { icon: 'mdi-store', text: 'Store', action: {name:'Store'}  }
          ]
        }
      ],
    }
  }, methods:{
    router(route) {
      this.$router.push({name:route})
    }
    , async logOut() {

    }
  }, computed:{

  }, mounted(){
  }
  , updated(){
  }
  , components: {
  }
  , created(){
  }
};
</script>

<style>

</style>