<template>
  <v-app>
    <template>
      <router-view></router-view>
    </template>
  </v-app>
  
</template>

<script>
export default { name: 'App' }
console.log("process.env.VUE_APP_URL--> ", process.env.VUE_APP_URL)
</script>

<style>
</style>