<template>
  <v-container fluid grid-list-md py1>
    <v-layout row wrap>
      <v-row>
        <v-col cols="12">
          <v-card class="elevation-5">
            <v-card-title primary-title class="py-2">
              <div class="subheading">Filters</div>
              <v-spacer />
              <v-btn icon class="ma-0" @click="view.section.form.visible = !view.section.form.visible">
                <v-icon>{{ view.section.form.visible ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-title>
            <v-fade-transition>
              <div v-show="view.section.form.visible">
                <v-card-text class="py-1">
                  <v-layout row wrap>
                    <v-row>
                      <v-col cols="12" sm="2" md="2">

                      </v-col>
                    </v-row>
                  </v-layout>
                </v-card-text>
              </div>
            </v-fade-transition>
          </v-card>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "JobPerformance",
  head: {
    title: function() {
      
    }
  },
  data() {
    return {
      hr: undefined,
      form: new Object(),
      view: {
        title: "JobPerformance", 
        action: {
          submit: {
            busy: false
          }
        },
        elem:{

        }, 
        section:{
          form: { 
            visible: true 
          }
        }
      }
    }
  },
  methods: {

  },
  computed: {

  },
  validations: {
    
  },
  mounted() {

  },
  updated() {

  },
  components: {

  },
  created() {

  }
}
</script>

<style>

</style>